<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="online.fatbook.fatbookapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FatBook"
        android:usesCleartextTraffic="true">
        <activity
            android:name="online.fatbook.fatbookapp.ui.activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="callback"
                    android:scheme="auth" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.SignInActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.PasswordActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.SkipAdditionalInfoActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.fill_additional_info.FillAdditionalInfoActivity"
            android:windowSoftInputMode="adjustResize" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>